# Liste des fichiers contenant des données sensibles à exclure ou sans intérêt pour le projet
# Notice d'utilisation :
# fr :
# https://docs.github.com/fr/get-started/getting-started-with-git/ignoring-files?platform=linux
# en :
# https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

.svg