@font-face {
    font-family: "Shrikhand-Regular";
    src: url("../fonts/Shrikhand-Regular.woff") format("woff");
  }

h1 {
    /* Texte à centrer et background-image à réduire */
    width: 10.5vw;
    height: 3vw;
    font-family: "Shrikhand-Regular", cursive, Times, serif;
    /* border-image-source: linear-gradient(17deg, #b16ec4, #5f97b9, #acf8e5);
    border-image-slice: 1; */
    font-size: 2.5vw;    

    -moz-background-clip: text;
    -webkit-background-clip: text;
    -moz-text-fill-color: transparent;
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(17deg, #b16ec4, #5f97b9, #acf8e5); /* radial-gradient(ellipse at center, #b16ec4, #5f97b9); */
}

#snowflake-icon {
    width: 3vw;    
}